.aboutlug{
  text-align: justify;
  font-size: 20px;
  width: 100%;
}
.navbar-toggle{

}
.navbar-header{
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 102.41px;
  margin-left: 0px;
  margin-right: 15px;
  float: right;
  color: #888;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}
.titlelug{
  font-family: "Vazir-bold" , sans-serif;
  font-size: 40px;
}
header{
  background: #ff6600;
  padding: 50px;
  color: #fff;
  text-align: center;
}
header>h1 {
  font-size: 55px;
  font-family: 'vazir-bold' , sans-serif;;
  padding: 40px;
}
nav{
  background: #111;
  color: #111;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  z-index: 999;
}
nav>a:link{
  transition: 0.5s ease;
  text-decoration: none;
  font-size: 20px;
  padding: 7px;
  margin: 0 5px 0 5px;
  color: #888;
}
nav>a:visited,a:active{
  transition: 0.5s ease;
  text-decoration: none;
  color: #888;
}
nav>a:hover{
  transition: 0.2 linear;
  background: #ff6600;
  color: #fff;
}
main{
  background: #fff;
  color: #111;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
main>section>h1{
  font-family: "Vazir Black" , sans-serif;
  font-size: 40px;
}

nav>ul>li{
  font-size: 70px;
}
.contents{
  text-align: center;
  font-size: 20px;
}

.big-logo{
  transition: 0.5s linear;
  transform: scale(1,1);
  max-width: 85%;
  height: auto;
  float: left;
}
.big-logo:hover{
  transition: 0.5s linear;
  transform: scale(1.1,1.1);
  cursor: pointer;
}
.foss{
  background: #111;
  text-align: center;
  padding: 50px;
  color: #fff;
}
.foss>div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.foss>div>img{
  transition: 0.2s ease;
  transform: scale(1,1);
  width: 64px;
  margin: 0 10px 0 10px;
}
.foss>div>img:hover{
  transition: 0.3 linear;
  transform: scale(1.3,1.3);
  z-index: 999;
  cursor: pointer;
}
.foss>h1{
  font-size: 40px;
}
.foss>p{
  font-size: 20px;
  text-align: justify;
}
.foss>ul{
  text-align: justify;
  list-style: numeric;
  font-size:16px;
}
.contributes{
  background: #fff;
  color: #111;
  padding: 50px;
  text-align: center;
}
.contributes>h1{
  font-size: 40px;
  font-family: 'vazir-bold' , sans-serif;
  margin-bottom: 50px;
}
.contribute-flexbox{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.contributes-box{
  text-align: center;
  width: 25%;
  transition: 0.3s linear;
  margin: 10px;
  background: #ff6600;
  color: #fff;
  padding: 20px;
  padding-bottom: 30px;
  margin-right: 25px;
  border-radius: 5px;
}
.contributes-box>img{
  border-radius: 5px;
  width: 100%;
}
.contributes-box>p{
  font-family: 'Shabnam' , sans-serif;
  text-align: center;
  font-size: 16px;
}
.contributes-box>h1{
  font-family: 'Shabnam' , sans-serif;
  text-align: center;
  font-size: 24px;
}
.contributes-box:hover{
  transition: 0.2s linear;
  transform: scale(1.1,1.1);
  background: #ff9900;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.map{
  background: #111;
  color: #fff;
  text-align: center;
  padding: 50px;
  margin-bottom: 50px;
}
.map>h1{
  font-size:40px;
}
.map-show{
  margin-top:20px;
}
footer{
  background: #111;
  border-top: 10px solid #ff6600;
  padding: 20px;
  text-align: center;
  color: #888;
}
footer>p{
  margin-top:10px;
  font-size: 16px;
}
.license{
  transition: 0.3s linear;
  text-decoration: underline;
  color: #888;
}
.license:hover{
  text-decoration: underline;
  color: #fff;
}
.social-networks{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.social-networks>a:link{
  transition: 0.3s ease;
  text-decoration: none;
  color: #888;
  margin: 0 5px 0 5px;
}
.social-networks>a:visited{
  transition: 0.3s linear;
  text-decoration: none;
  color: #888;
}
.social-networks>a:active{
  transition: 0.3s linear;
  text-decoration: none;
  color: #888;
}
.social-networks>a:hover{
  transition: 0.3s linear;
  color: #fff;
}
/*@media tags and responsivation here*/
@media (max-width: 767px) {
  .big-logo{
    float: none;
  }
  .contents {
    text-align: center;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 992px) {
  .big-logo{
    float: none;
  }
  .contributes-box{
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 690px) {
  .contributes-box{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
}
